body {
    background-color: #22527c;
}

.container {
    background-color: #00ffff;
    border-radius: 10px;
    border-color: #ff0000;
}
p{
    font-size: x-large;
}

#tytul{
    color: #7e10b1;
}

button{
    background-color: #dacbcb;
    width: 90px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

button:hover{
    background-color: black;
    color: white;
}