body {
    background-color: #22527c;
}

.container {
    background-color: #00ffff;
    border-radius: 10px;
    border-color: #ff0000;
}
p{
    font-size: x-large;
}

#tytul{
    color: #7e10b1;
}

button{
    background-color: #dacbcb;
}

button:hover{
    background-color: black;
    color: white;
}